@{
    ViewData["Title"] = "Privacy Policy";
}

<div>
    <div class="text-center" style="margin-bottom: 150px;">
        <h1 class="display-4">Novo contato</h1>
    </div>

    <form style="margin-left: 150px">
        <p class="fs-5 mb-4">Digite as informações necessárias para cadastrar um novo contato:</p>

            <div class="col-md-10">
                <div class="mb-3">
                <label for="nameId" class="form-label"><b>Nome</b></label>
                    <input type="text" placeholder="" class="form-control" id="nameId" maxlength="100">
                </div>
            </div>
            <div class="col-md-10">
                <div class="mb-3">
                <label for="emailId" class="form-label"><b>E-mail</b></label>
                    <input type="email" placeholder="exemplo@email.com.br" class="form-control" id="emailId" maxlength="100">
                </div>
            </div>
            <div class="row">
            <div class="col-sm-1">
                <div class="mb-3">
                    <label for="dddID" class="form-label"><b>DDD</b></label>
                    <input type="text" placeholder="(00)" class="form-control" id="dddID">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="mb-3">
                    <label for="telefoneID" class="form-label"><b>Telefone</b></label>
                    <input type="text" placeholder="00000-0000" class="form-control" id="telefoneID">
                </div>
            </div>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Adicionar</button>

    </form>
</div>
