@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Contatos disponíveis</h1>
    <p>Todos os contatos cadastrados serão listados abaixo!</p>

    <div class="">
        <h2 class="display-6 text-xl-start">Pesquisar:</h2>
        <div class="row text-start">
            <!-- Primeiro input de Região -->
            <div class="col-md-3">
                <label for="inputRegiao1" class="form-label">Região</label>
                <input type="text" class="form-control" id="inputRegiao1">
            </div>
            <!-- Segundo input de Região -->
            <div class="col-md-1">
                <label for="inputDDD" class="form-label">DDD</label>
                <input type="text" class="form-control" id="inputDDD">
            </div>
        </div>
    </div>

    <table class="table table-striped " style="text-align: center;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Celular</th>
                <th scope="col">Região</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" style="padding-top: 15px;">1</th>
                <td style="padding-top: 12px; font-size: 20px;">
                    Antonio Kauã Paiva Batista
                </td>
                <td style="padding-top: 12px; font-size: 20px;">kauabatista545@hotmail.com</td>
                <td style="padding-top: 12px; font-size: 20px;">(11) 98928-6488</td>
                <td style="padding-top: 12px; font-size: 20px;">São Paulo</td>
                <td>
                    <a href="#" class="btn btn-primary" style="padding-top: 5px;">Alterar</a>
                    <a href="#" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
            <tr>
                <th scope="row" style="padding-top: 15px;">2</th>
                <td style="padding-top: 12px; font-size: 20px;">
                    Antonio Kauã Paiva Batista
                </td>
                <td style="padding-top: 12px; font-size: 20px;">kauabatista545@hotmail.com</td>
                <td style="padding-top: 12px; font-size: 20px;">(11) 98928-6488</td>
                <td style="padding-top: 12px; font-size: 20px;">São Paulo</td>
                <td>
                    <a href="#" class="btn btn-primary" style="padding-top: 5px;">Alterar</a>
                    <a href="#" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
            <tr>
                <th scope="row" style="padding-top: 15px;">3</th>
                <td style="padding-top: 12px; font-size: 20px;">
                    Antonio Kauã Paiva Batista
                </td>
                <td style="padding-top: 12px; font-size: 20px;">kauabatista545@hotmail.com</td>
                <td style="padding-top: 12px; font-size: 20px;">(11) 98928-6488</td>
                <td style="padding-top: 12px; font-size: 20px;">São Paulo</td>
                <td>
                    <a href="#" class="btn btn-primary" style="padding-top: 5px;">Alterar</a>
                    <a href="#" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
            <tr>
                <th scope="row" style="padding-top: 15px;">4</th>
                <td style="padding-top: 12px; font-size: 20px;">
                    Antonio Kauã Paiva Batista
                </td>
                <td style="padding-top: 12px; font-size: 20px;">kauabatista545@hotmail.com</td>
                <td style="padding-top: 12px; font-size: 20px;">(11) 98928-6488</td>
                <td style="padding-top: 12px; font-size: 20px;">São Paulo</td>
                <td>
                    <a href="#" class="btn btn-primary" style="padding-top: 5px;">Alterar</a>
                    <a href="#" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
            <tr>
                <th scope="row" style="padding-top: 15px;">5</th>
                <td style="padding-top: 12px; font-size: 20px;">
                    Antonio Kauã Paiva Batista
                </td>
                <td style="padding-top: 12px; font-size: 20px;">kauabatista545@hotmail.com</td>
                <td style="padding-top: 12px; font-size: 20px;">(11) 98928-6488</td>
                <td style="padding-top: 12px; font-size: 20px;">São Paulo</td>
                <td>
                    <a href="#" class="btn btn-primary" style="padding-top: 5px;">Alterar</a>
                    <a href="#" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>

    <p class="fs-3 mt-5">5 contatos.</p>

</div>
